<%- include('../partials/header') %> 
<h1><%=title%></h1>
<br>
      <h4> About Brandt, M. </h4> <br>    
  
      <p> They have a cat, although it is not because they dislike dogs. Rather, a cat best fit the owner's needs and environment.</p>    
      <p>They are currently eating a quesadilla for breakfast. This is their third breakfast quesadilla this morning.</p>    
      <p> They enjoy reading, so much so, that they loose all sense of time and discipline to complete non-reading tasks. </p>
      <p></p>    
      <p></p>    
      <p></p>    
      <p></p>
      <div class="pic"><img src="images/about.jpg" /></div>  
      <p></p>    
      <p></p>    
      <p>This site was built using Node.js, Express.js and EJS templates by Brandt, M.</p>
<%- include('../partials/footer') %> 


