<%- include('../partials/header') %> 
<h1><%=title%></h1>
 <br>
      <h4> To contact Brandt, M. : </h4> <br>
  <br>
      <p>Please use alternative methods of communication, such as: </p>    
      <p>•Carrier Hawk only (no pigeons or other avian species)</p>    
      <p>•Invisible ink on handmade plant paper</p>
      <p>•Alphabet Soup</p>    
      <p>•Deserted Island S.O.S. signals à la Cast Away</p>    
      <p>•Provide a new book</p> 
      <p>•Email works too</p> 
      <p>•Buy Sushi from a Shiro's affiliated restaurant</p>
      <big><p>Or don't contact me...</p></big><br><br>
 <div class="pic"><img src="images/contact.jpg" /></div>  
 <br>   
 <p>This site was built using Node.js, Express.js and EJS templates by Brandt, M.</p>
<%- include('../partials/footer') %> 