<%- include('../partials/header') %> 
<h1><%=title%></h1>
 
      <p> In this assignment, a Node.js website using Express.js and EJS was built. </p>    
      <p> 4 different linked web pages, one index page, and 3 other pages were created.</p>    
      <p></p>    
      <p></p>
      <p></p>    
      <p></p>    
      <p></p>    
   <div class="pic"><img src="images/index.jpg" /></div>  
      <p></p>    
      <p></p>    
      <p></p>    
      <p>This site was built using Node.js, Express.js and EJS templates by Brandt, M.</p>
<%- include('../partials/footer') %> 


