<%- include('../partials/header') %> 
<h1><%=title%></h1>
 
      <p>•This website</p>    
      <p>•Making three quesadillas without burning a single one</p>    
      <p>•Technical writing</p>    
      <p>•User Experience & Marketing principles</p>
      <p>•Living one day at a time</p>    
      <p>•What is sleep</p>    
      <p>Clever content goes here</p>    
<br>
 <div class="pic"><img src="images/projects.jpg" /></div>  
<br>
 <p>This site was built using Node.js, Express.js and EJS templates by Brandt, M.</p>
<%- include('../partials/footer') %> 


